<div class="my-3 container">
    <h4>Add To-do</h4>
    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" [(ngModel)]="description" class="form-control" name="description" id="description">
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Add to-to</button>
      </form>
    
</div>
